---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <script>
    new Valine({
      el: '#comments',
      app_id: 'lel8tfYg7feUkytVD9G4s0Lr-MdYXbMMI',   //这里变量的取值在网站配置文件里_config.yml
      app_key: '3WQkO5zEVlqgV6Bmc5x6u1iF', //这里变量的取值在网站配置文件里_config.yml
      placeholder: 'just go go',    //这里变量的取值在网站配置文件里_config.yml
      serverURLs: 'lel8tfyg.engine.lncldglobal.com'
    });</script>


</article>