---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
      ~
      {%- assign mdate = page.modified_date | date_to_xmlschema -%}
      <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
      </time>
      {%- endif -%}
      {%- if page.author -%}
      • {% for author in page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- if forloop.last == false %}, {% endif -%}
      {% endfor %}
      {%- endif -%}
    </p>

  </header>


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>


  <footer class="post-footer">
    {% if page.categories.size > 0 %}
    <div class="post-meta">
      <i class="fas fa-folder"></i>
      <ul class="post-taxonomies post-categories">
        {% assign categories = page.categories | sort %}
        {% for category in categories %}
        <li class="post-category">
          {% assign slugified_category = category | slugify %}
          <a href="{{ '/categories/#:category' | replace: ':category', slugified_category | relative_url }}">{{
            category }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if page.tags.size > 0 %}
    <div class="post-meta">
      <i class="fas fa-tags"></i>
      <ul class="post-taxonomies post-tags">
        {% assign tags = page.tags | sort %}
        {% for tag in tags %}
        <li class="post-tag">
          {% assign slugified_tag = tag | slugify %}
          <a href="{{ '/tags/#:tag' | replace: ':tag', slugified_tag | relative_url }}">{{ slugified_tag }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}



    <!-- Remarkbox - Your readers want to communicate with you -->
    <div id="remarkbox-div">
      <noscript>
        <iframe id=remarkbox-iframe src="https://my.remarkbox.com/embed?nojs=true"
          style="height:600px;width:100%;border:none!important" tabindex=0></iframe>
      </noscript>
    </div>
    <script src="https://my.remarkbox.com/static/js/iframe-resizer/iframeResizer.min.js"></script>
    <script>
      var rb_owner_key = "fb760ce3-7eb0-11eb-9591-040140774501";
      var thread_uri = window.location.href;
      var thread_title = window.document.title;
      var thread_fragment = window.location.hash;

      // rb owner was here.
      var rb_src = "https://my.remarkbox.com/embed" +
        "?rb_owner_key=" + rb_owner_key +
        "&thread_title=" + encodeURI(thread_title) +
        "&thread_uri=" + encodeURIComponent(thread_uri) +
        thread_fragment;

      function create_remarkbox_iframe() {
        var ifrm = document.createElement("iframe");
        ifrm.setAttribute("id", "remarkbox-iframe");
        ifrm.setAttribute("scrolling", "no");
        ifrm.setAttribute("src", rb_src);
        ifrm.setAttribute("frameborder", "0");
        ifrm.setAttribute("tabindex", "0");
        ifrm.setAttribute("title", "Remarkbox");
        ifrm.style.width = "100%";
        document.getElementById("remarkbox-div").appendChild(ifrm);
      }
      create_remarkbox_iframe();
      iFrameResize(
        {
          checkOrigin: ["https://my.remarkbox.com"],
          inPageLinks: true,
          initCallback: function (e) { e.iFrameResizer.moveToAnchor(thread_fragment) }
        },
        document.getElementById("remarkbox-iframe")
      );
    </script>





</article>